@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    transition: all .5s ease;
}
body{
    margin: 0;
    background: url("../images/dynamic-style.png");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    display: block;
    transition: transform .3s ease;
}
.logo, h1, figcaption{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}

header{
    display: flex;
    background: #FFF;
    border-bottom: 2px solid #CCC;
    justify-content: center;
}
.header-cont{
    display: flex;
    flex-basis: 960px;
    align-items: center;

}

header .logo{
    background: #4aaaa5;
    margin-right: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #FFF;
}
nav ul{
    padding: 0px;
}
nav ul li{
    display: inline-block;
    font-size: .9rem;
    border-right: 1px solid #CCC;
    padding: 0px 10px;
    line-height: .9;
    
}
nav ul li a:hover{
    transform: scale(1.1);
    
}
nav ul li:last-of-type{
    border:none;
}
main{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    

    
}

article{
    background: #FFF;
    width: 100%;
    max-width: 960px;
    margin: 0px auto;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 30px;
    
}

article h1{
    border-bottom: 2px solid #CCC;
    padding-bottom: 20px;
    padding-top: 10px;
    margin: 0;
}

article img{
    width: 200px;
    float: left;
    padding: 10px;
    
}

article p{
    line-height: 2;
    font-size: .9rem;
}



footer{
    background: #666;
    margin-top: auto;
    padding: 5px;
    border-top: 8px solid #4aaaa5;
    
}

footer small{
    display: block;
    margin-top: 30px;
    text-align: center;
    color: #CCC;
    font-size: .7rem;
}

.loading{
    background: #4aaaa5;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: 0% 50%;
    transition: transform .3s ease;
}
.loading div{
    color: #FFF;
    font-size: 2rem;
    font-family: 'Georgia', Times, Times New Roman, serif;
    animation: .3s ease infinite alternate-reverse spin;
}
@keyframes spin{
    from{transform: scale(1);}
    to{transform: scale(5);}
}
.hidden{
    
    transform: scaleX(0);
    
    
}

/* Contact page stuff */

label{
    display: block;
    margin-top: 20px;
}

input, textarea{
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid #CCC;
    margin-top: 3px;
    
}
textarea{
    height: 200px;
    
}

button{
    margin: 10px 0;
    padding: 10px 25px;
    background: #4aaaa5;
    color: #FFF;
    border: none;
}


/* Portfolio stuff */

.port-cont{
    display: flex;
    flex-wrap: wrap;

}
figure{
    height: 250px;
    width: 300px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-right: 20px;
    margin-top: 30px;
    transition: transform .2s;
}
figure:hover{
    transform: translateY(-10px) scale(1.05);
}
figcaption{
    display: block;
    text-align: center;
    background: #4aaaa5;
    color: #FFF;
    padding: 10px;
    margin-top: auto;
    margin-bottom: 5px;

}



/* Theme stuff */



.theme-toggle button{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    padding: 0px;
    margin: 5px;
    transition: all .2s;
}
.theme-toggle button:hover{
    transform: scale(1.2);
}


/* Dark Mode */


body.dark{
    background-image: url("../images/dynamic-dark.png");
}

body.dark header{
    background: #222;
}

body.dark nav a{
    color: #FFF;
}

body.dark article{
    background: #222;
}

body.dark article p{
    color: #CCC;
}

body.dark input, body.dark textarea{
    background: #444;
    color: #FFF;
}
body.dark input::placeholder, body.dark label{
    color: #CCC;
}
body.dark footer{
    background: #222;
}

body.dark .theme-toggle{
    background: #444;
    color: #FFF;
}

/* dated stuff */


body.twenty-nineteen *{
    font-family: 'Nunito Sans', sans-serif;
}


body.twenty-nineteen{
    background: rgb(238, 236, 236);
    box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.158);
}

body.twenty-nineteen header{
    border: none;
    background: none;
    margin-top: 20px;
    padding: 0px 20px;
}

body.twenty-nineteen .logo{
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.24);

}
body.twenty-nineteen nav ul li{
    border: none;

}

body.twenty-nineteen h1{
    border: none;
    margin: 50px 10px;
    padding: 10px;
    margin-bottom: 50px;
    font-weight: 700;
    letter-spacing: 1px;
}
body.twenty-nineteen article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 3px;
    /* box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.24); */
    padding-bottom: 50px;
    background: none;
}
body.twenty-nineteen p{
    flex-basis: 100%;
    max-width: 800px;
    font-size: 1.3rem;
    font-weight: 300;
    
}

body.twenty-nineteen input, body.twenty-nineteen textarea{
    border-width: 0px 0px 2px 0px;
    background: rgb(245, 245, 245);
}

body.twenty-nineteen form{
    width: 100%;
    max-width: 500px;
    
    
}
body.twenty-nineteen footer{
    border:none;
    background: #DDD;
    box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.24);
    
    
}
body.twenty-nineteen small{
    color: #999;
    
    
}
body.twenty-nineteen .port-cont{
    flex-direction: column;
    width: 100%;
}
body.twenty-nineteen figure{
    flex-direction: column;
    width: 100%;
    border-radius: 3px;
    background-position: center;
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.445), 0px 2px 10px -5px rgba(0, 0, 0, 0.24);
    position: relative;
    overflow: hidden;
}
body.twenty-nineteen figcaption{
    margin-bottom:0px;
    position: absolute;
    right: 0px;
    top: 50%;
    padding: 50px 20px;
    padding-right: 150px;
    box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.301);
    transform: translateY(-50%) translateX(50px);
    border-radius: 3px 0px 0px 3px;
    max-width: 100px;
    text-align: left;
}
body.twenty-nineteen figure:hover figcaption{
    transform: translateY(-50%) translateX(0px);
}


body.twenty-nineteen article img{
    border-radius: 100%;
    box-shadow: inset 0px 2px 20px -10px rgba(0, 0, 0, 0.589);
    padding: 0px;
    width: 150px;
    height: 150px;
    margin-bottom: 50px;
    background: rgba(255, 255, 255, 0.11);

}

/* Controls */

.controls{
    position: fixed;
    right: 0px;
    bottom: 75px;
    text-align: right;
    background: #EEE;
    padding: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.281);
    border-radius: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    max-width: 150px;
    overflow: visible;
}


.toggle{
    transition: all .2s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.212);
    border-radius: 25px;
    padding: 5px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    font-size: .9rem;
    position: relative;
    flex-wrap: wrap;
    user-select: none;
    
    
}

.theme-toggle{
    background: #FFF;
}
.toggle:hover{
    transform: translateX(-5px);
}


/* Dark Override  */

body.dark{
    background-color: rgb(46, 45, 45);
}

body.dark footer{
    background: #222;
}

body.dark input, body.dark textarea{
    background: #444;
    color: #FFF;
}
body.dark .date-toggle{
    background: #444;
    color: #FFF;
}


body.dark .controls{
    background: #444;
}
body.dark .theme-toggle{
    background:#666;
}